/* this is a custom CSS stylesheet*/
.containerh{
	opacity: .60;
	filter: alpha(opacity=60);
	background-color:#041211;
	font-family: Helvetica;
}
@font-face{
	font-family: "sketch_block";
	src: url('Sketch_Block.woff'),
		 url('Sketch_Block.ttf');
}
		 
.rowh{
	font-family: 'sketch_Block', fallback, Helvetica;
	font-size: 70px;
	text-align: left;
	color: #ffffff;
	margin-left: 30px;
	margin-right: 80px;
}

#posts{
	border-radius: 10px;
	font-family: Helvetica;
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
	position: center;
	height: 400px;
	font-size: 20px;
	color: #a4a4a4;
}
.tabs{
	font-family: Helvetica;
	text-align: left;
	border-radius: 10px;
	color: #a4a4a4;
	font-size: 18px;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 40px;
}
.bio{
	font-family: 'sketch_Block', fallback, Helvetica;
	text-align: left;
	border-radius: 5px;
	color: #a4a4a4;
	font-size: 50px;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
}	


.footerbt{
	font-family: 'sketch_Block', fallback, Helvetica;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 5px;
}
